@{
    Layout = "_Layout";
}

<h2>Dashboard</h2>

<div class="row">

    <div class="col-md-4">
        <div class="card p-3 shadow">
            <h5>Total Products</h5>
            <h3>0</h3>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3 shadow">
            <h5>Total Sales</h5>
            <h3>0</h3>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3 shadow">
            <h5>Stock Value</h5>
            <h3>0</h3>
        </div>
    </div>

</div>